* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Overpass", sans-serif;
}
.wrapper {
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.card {
    width: 375px;
    height: 375px;
    background-color: hsl(213, 19%, 18%);
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.image {
    position: absolute;
    margin-top: 0;
    margin-left: 90px;   
}
.text {
   position: absolute;
   background-color: hsl(213, 26%, 22%);
   color: hsl(25, 97%, 53%);
   width: 50%;
   text-align: center;
   border-radius: 25px;
   margin-top: 40%;
   margin-left: 20%;
   padding: 5px;   
}
.heading {
    position: absolute;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 55%;
    margin-left: 30%;
}
p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin-top: 70%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    text-align: center;
}