* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Overpass", sans-serif;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    margin-top: 40%;
    bottom: 10px;
}
.attribution a {
    font-family:"Overpass" sans-serif ;
     color: hsl(228, 45%, 44%);
     margin-top: 80%;
     font-size: 16px;
     text-decoration: none;
  
     
 }
 .cha {
    color: white;
    font-size: 16px;
    bottom: 20px;
 }

.wrapper {
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    
}
.card {
    width: 375px;
    height: 375px;
    background-color: hsl(213, 19%, 18%);
    position: relative;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.star {
    width: 35px;
    height: 35px;
    background-color: hsl(213, 26%, 22%);
    padding: 10px;
    border-radius: 50%;
    top: 40px;
    position: absolute;
    left: 30px;
}
.heading {
    position: absolute;
    top: 90px;
    left: 30px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}
p {
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
    position: absolute;
    bottom: 45%;
    line-height: 1.3;
    font-size: 15px;
    color: hsl(217, 12%, 63%);

}
.numbers {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between; */
    justify-content: center;
}
.number {
    background-color: hsla(216, 12%, 54%, 0.096);
    width: 45px;
    height: 45px;
    border: transparent;
    border-radius: 50px;
    text-align: center;
    margin-top: 80px;
    color: white;

}
/* .numbers { */
    /* display: flex;
    justify-content: center;

} */

.button {
    background-color: hsl(25, 97%, 53%);
    border: none;
    color: white;
    width: 75%;
    border-radius: 25px;
    font-family: "Overpass", sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    left: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    letter-spacing: 3px;
    display: inline-block;    
}


